In [2]:
import os
import pandas as pd

In [3]:
path = "/Volumes/Sebastian/Diplomado/DataSets/ecobici/"
files_namesArray = os.listdir(path)
files_list = [files_namesArray for files_namesArray in files_namesArray if files_namesArray[:2] == '20']
path_csv = [os.path.join(path,n) for n in files_list]
path_csv

['/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-06.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-12.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-07.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-11.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-05.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-04.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-10.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-01.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-03.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-02.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-08.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-09.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-10.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-04.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-05.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-07.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-06.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-02.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2017-12.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-03.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-01.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2017-11.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-09.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-08.csv']

In [4]:
#Creating DataFrame
for i, file in enumerate(path_csv):
    print(i)
    if i ==0:
        df = pd.read_csv(file)
    else:
        df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

0
1
2
3

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

4
5

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

6
7

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

8

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

9

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

10
11
12

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

13
14
15
16
17

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

18

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

19

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

20

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

21

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

22
23

In [5]:
print(df.shape)
#print(df.info)
df.head()

(17104573, 10)

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Unnamed: 9
0,M,31,8871,170,01/06/2018,0:00:11,133,01/06/2018,0:18:39,NaN
1,M,37,10700,123,01/06/2018,0:00:31,52,01/06/2018,0:08:16,NaN
2,M,43,6763,9,01/06/2018,0:00:45,9,01/06/2018,0:42:43,NaN
3,M,23,10316,55,01/06/2018,0:00:52,111,01/06/2018,0:13:29,NaN
4,M,23,15304,139,01/06/2018,0:00:57,155,01/06/2018,0:19:33,NaN

In [35]:
'''This loop shows the type of data that is contained in each column'''
for c in df.columns:
    print( c , df[c].map(type).unique().tolist()  , "\n"*1 )

Genero_Usuario [<class 'str'>]

Edad_Usuario [<class 'int'>]

Bici [<class 'str'>]

Ciclo_Estacion_Retiro [<class 'int'>]

Fecha_Retiro [<class 'str'>]

Hora_Retiro [<class 'str'>]

Ciclo_Estacion_Arribo [<class 'str'>]

Fecha_Arribo [<class 'str'>]

Hora_Arribo [<class 'str'>]

Unnamed: 9 [<class 'float'>, <class 'str'>]

fh_retiro [<class 'pandas._libs.tslibs.timestamps.Timestamp'>, <class 'pandas._libs.tslibs.nattype.NaTType'>]

fh_arribo [<class 'pandas._libs.tslibs.timestamps.Timestamp'>, <class 'pandas._libs.tslibs.nattype.NaTType'>]

In [37]:
df['Bici'] = df['Bici'].astype(str)
df['Ciclo_Estacion_Arribo'] = df['Ciclo_Estacion_Arribo'].astype(str)
for c in df.columns:print( c , df[c].map(type).unique().tolist()  , "\n"*1 )

Genero_Usuario [<class 'str'>]

Edad_Usuario [<class 'int'>]

Bici [<class 'str'>]

Ciclo_Estacion_Retiro [<class 'int'>]

Fecha_Retiro [<class 'str'>]

Hora_Retiro [<class 'str'>]

Ciclo_Estacion_Arribo [<class 'str'>]

Fecha_Arribo [<class 'str'>]

Hora_Arribo [<class 'str'>]

Unnamed: 9 [<class 'float'>, <class 'str'>]

fh_retiro [<class 'pandas._libs.tslibs.timestamps.Timestamp'>, <class 'pandas._libs.tslibs.nattype.NaTType'>]

fh_arribo [<class 'pandas._libs.tslibs.timestamps.Timestamp'>, <class 'pandas._libs.tslibs.nattype.NaTType'>]

In [9]:
df = df.loc[ (~df.Fecha_Arribo.isnull()) & (~df.Fecha_Retiro.isnull() )].copy().reset_index(drop=True)

In [10]:
df.shape

(17104573, 10)

In [34]:
df['fh_retiro'] = pd.to_datetime(df['Fecha_Retiro'].map(lambda x: x[-4:] + '-' + x[3:5] + '-' + x[:2]) +
                                 ' ' + df['Hora_Retiro'].map(lambda x: '0' + x if len(x) == 7 else x), errors='coerce')

In [12]:
df['fh_arribo'] = pd.to_datetime(df['Fecha_Arribo'].map(lambda x: x[-4:] + '-' + x[3:5] + '-' + x[:2]) +
                                 ' ' + df['Hora_Arribo'].map(lambda x: '0' + x if len(x) == 7 else x), errors='coerce')

In [23]:
df = df.loc[(~df.Fecha_Arribo.isnull()) & (~df.Fecha_Retiro.isnull())].copy().reset_index(drop=True)

In [42]:
df=df.loc[df.Ciclo_Estacion_Arribo.isnull()].copy().reset_index(drop=True)

#df['Ciclo_Estacion_Arribo'].map(type).value_counts(True)

In [43]:
df['Ciclo_Estacion_Arribo'] = pd.to_numeric( df['Ciclo_Estacion_Arribo'], errors='coerce').astype(int)

In [47]:
df = df[['Genero_Usuario', 'Edad_Usuario', 'Bici', 'Ciclo_Estacion_Retiro', 'Ciclo_Estacion_Arribo', 'fh_retiro',  'fh_arribo']]

In [44]:
df.drop('Unnamed: 9', axis=1, inplace=True)

In [49]:
df.dtypes

Genero_Usuario                   object
Edad_Usuario                      int64
Bici                             object
Ciclo_Estacion_Retiro             int64
Ciclo_Estacion_Arribo             int64
fh_retiro                datetime64[ns]
fh_arribo                datetime64[ns]
dtype: object

Limpieza del Catalogo

In [53]:
files_namesArray = os.listdir(path)
files_namesArray
#cat = [nom for nom in files_namesArray if nom[:2] != '20']
#cat

['2018-06.csv',
 '._2018-06.csv',
 '2018-12.csv',
 '._2018-12.csv',
 '2018-07.csv',
 '._2018-07.csv',
 '2018-11.csv',
 '._2018-11.csv',
 '2018-05.csv',
 '._2018-05.csv',
 '2018-04.csv',
 '._2018-04.csv',
 '2018-10.csv',
 '._2018-10.csv',
 '2018-01.csv',
 '._2018-01.csv',
 '2018-03.csv',
 '._2018-03.csv',
 '2018-02.csv',
 '._2018-02.csv',
 '2019-08.csv',
 '._2019-08.csv',
 '2019-09.csv',
 '._2019-09.csv',
 '2019-10.csv',
 '._2019-10.csv',
 '2019-04.csv',
 '._2019-04.csv',
 '2019-05.csv',
 '._2019-05.csv',
 'estaciones-de-ecobici.csv',
 '._estaciones-de-ecobici.csv',
 '2019-07.csv',
 '._2019-07.csv',
 '2019-06.csv',
 '._2019-06.csv',
 '2019-02.csv',
 '._2019-02.csv',
 '2017-12.csv',
 '._2017-12.csv',
 '2019-03.csv',
 '._2019-03.csv',
 '2019-01.csv',
 '._2019-01.csv',
 '2017-11.csv',
 '._2017-11.csv',
 '2018-09.csv',
 '._2018-09.csv',
 '2018-08.csv',
 '._2018-08.csv']

In [64]:
files_list1 = [files_namesArray for files_namesArray in files_namesArray if files_namesArray[:2] =='es' ]
#path_csv = [os.path.join(path,n) for n in files_list]
#path_csv
catalogo = pd.read_csv(os.path.join(path,files_list1[0]))
catalogo.shape
catalogo.head()

,ID,Nombre,Dirección,Número,Código postal,districtCode,Colonia,altitude,nearbyStations/0,location/lat,location/lon,Tipo de estación,nearbyStations/1,nearbyStations/2,nearbyStations/3,nearbyStations/4,nearbyStations/5,punto_geo
0,416,416 RECREO-PARROQUÍA,416 - Recreo-Parroquía,S/N,3104.0,1,Ampliación Granada,NaN,390,19.371308,-99.177607,BIKE,391.0,415.0,NaN,NaN,NaN,"19.371308,-99.177607"
1,440,440 REAL DE MAYORAZGO-PUENTE XOCO,440 - Real De Mayorazgo-Puente Xoco,S/N,3330.0,1,Ampliación Granada,NaN,433,19.360650,-99.168669,BIKE,439.0,441.0,NaN,NaN,NaN,"19.36065,-99.168669"
2,70,70 PARQUE MEXICO-MICHOACAN,070 - Parque México - Michoacan,S/N,6100.0,1,Ampliación Granada,NaN,69,19.411272,-99.169718,"BIKE,TPV",71.0,76.0,NaN,NaN,NaN,"19.411272,-99.169718"
3,325,325 PROVIDENCIA -AVENIDA DEL VALLE,325 - Providencia -Avenida Del Valle,S/N,3100.0,1,Ampliación Granada,NaN,316,19.388178,-99.169689,BIKE,335.0,336.0,NaN,NaN,NaN,"19.3881779,-99.1696894"
4,252,252 VICTOR HUGO-SHAKESPEARE,252 - Víctor Hugo-Shakespeare,S/N,11510.0,2,Anzures,NaN,249,19.427575,-99.177020,BIKE,251.0,253.0,NaN,NaN,NaN,"19.427575,-99.17702"

In [65]:
for c in catalogo.columns:
    print(c,catalogo[c].map(type).value_counts(),'\n')

ID <class 'int'>    480
Name: ID, dtype: int64

Nombre <class 'str'>    480
Name: Nombre, dtype: int64

Dirección <class 'str'>    480
Name: Dirección, dtype: int64

Número <class 'str'>    480
Name: Número, dtype: int64

Código postal <class 'float'>    480
Name: Código postal, dtype: int64

districtCode <class 'str'>      479
<class 'float'>      1
Name: districtCode, dtype: int64

Colonia <class 'str'>      479
<class 'float'>      1
Name: Colonia, dtype: int64

altitude <class 'float'>    480
Name: altitude, dtype: int64

nearbyStations/0 <class 'int'>    480
Name: nearbyStations/0, dtype: int64

location/lat <class 'float'>    480
Name: location/lat, dtype: int64

location/lon <class 'float'>    480
Name: location/lon, dtype: int64

Tipo de estación <class 'str'>    480
Name: Tipo de estación, dtype: int64

nearbyStations/1 <class 'float'>    480
Name: nearbyStations/1, dtype: int64

nearbyStations/2 <class 'float'>    480
Name: nearbyStations/2, dtype: int64

nearbyStations/3 <class 'float'>    480
Name: nearbyStations/3, dtype: int64

nearbyStations/4 <class 'float'>    480
Name: nearbyStations/4, dtype: int64

nearbyStations/5 <class 'float'>    480
Name: nearbyStations/5, dtype: int64

punto_geo <class 'str'>    480
Name: punto_geo, dtype: int64