In [2]:
import os
import pandas as pd

In [3]:
path = "/Volumes/Sebastian/Diplomado/DataSets/ecobici/"
files_namesArray = os.listdir(path)
files_list = [files_namesArray for files_namesArray in files_namesArray if files_namesArray[:2] == '20']
path_csv = [os.path.join(path,n) for n in files_list]
path_csv

['/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-06.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-12.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-07.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-11.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-05.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-04.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-10.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-01.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-03.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-02.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-08.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-09.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-10.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-04.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-05.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-07.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-06.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-02.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2017-12.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-03.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2019-01.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2017-11.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-09.csv',
 '/Volumes/Sebastian/Diplomado/DataSets/ecobici/2018-08.csv']

In [4]:
#Creating DataFrame
for i, file in enumerate(path_csv):
    print(i)
    if i ==0:
        df = pd.read_csv(file)
    else:
        df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

0
1
2
3

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

4
5

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

6
7

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

8

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

9

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

10
11
12

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

13
14
15
16
17

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

18

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

19

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

20

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

21

/var/folders/1r/9bwwqk9j11zglwfwnt_scwtr0000gn/T/ipykernel_29519/2809414773.py:7: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([df, pd.read_csv(file)], ignore_index = True)

22
23

In [5]:
print(df.shape)
#print(df.info)
df.head()

(17104573, 10)

,Genero_Usuario,Edad_Usuario,Bici,Ciclo_Estacion_Retiro,Fecha_Retiro,Hora_Retiro,Ciclo_Estacion_Arribo,Fecha_Arribo,Hora_Arribo,Unnamed: 9
0,M,31,8871,170,01/06/2018,0:00:11,133,01/06/2018,0:18:39,NaN
1,M,37,10700,123,01/06/2018,0:00:31,52,01/06/2018,0:08:16,NaN
2,M,43,6763,9,01/06/2018,0:00:45,9,01/06/2018,0:42:43,NaN
3,M,23,10316,55,01/06/2018,0:00:52,111,01/06/2018,0:13:29,NaN
4,M,23,15304,139,01/06/2018,0:00:57,155,01/06/2018,0:19:33,NaN

In [6]:
'''This loop shows the type of data that is contained in each column'''
for c in df.columns:
    print( c , df[c].map(type).unique().tolist()  , "\n"*1 )

Genero_Usuario [<class 'str'>]

Edad_Usuario [<class 'int'>]

Bici [<class 'int'>, <class 'str'>]

Ciclo_Estacion_Retiro [<class 'int'>]

Fecha_Retiro [<class 'str'>]

Hora_Retiro [<class 'str'>]

Ciclo_Estacion_Arribo [<class 'int'>, <class 'str'>]

Fecha_Arribo [<class 'str'>]

Hora_Arribo [<class 'str'>]

Unnamed: 9 [<class 'float'>, <class 'str'>]

In [7]:
df['Bici'] = df['Bici'].astype(str)
df['Ciclo_Estacion_Arribo'] = df['Ciclo_Estacion_Arribo'].astype(str)
for c in df.columns:
    print( c , df[c].map(type).unique().tolist()  , "\n"*1 )

Genero_Usuario [<class 'str'>]

Edad_Usuario [<class 'int'>]

Bici [<class 'str'>]

Ciclo_Estacion_Retiro [<class 'int'>]

Fecha_Retiro [<class 'str'>]

Hora_Retiro [<class 'str'>]

Ciclo_Estacion_Arribo [<class 'str'>]

Fecha_Arribo [<class 'str'>]

Hora_Arribo [<class 'str'>]

Unnamed: 9 [<class 'float'>, <class 'str'>]